@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  z-index: 10000;
  transition: 0.6s;
  background: #2d2d2d;
}
header.recent_categ
{
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  z-index: 1000;
  border-top: 2px solid #000;
  transition: 0.6s;
}
header .menu_list{
    padding-right: 2em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .menu_list:hover{
  color: #E32636;
}
header .left_navi{
    justify-content: space-between;
}
header .right_navi{
    display: flex;
    justify-content: space-between;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
header .logo_bar{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 50px;
  }
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 250px 100px 100px 100px;
    background: #000000;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
  }
a.red_borders{
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #E32636;
    text-decoration: none;
  }
a.red_borders:hover{
    background: #E32636;
    color: #fff;
    transition: 0.5s;
  }

.search_box{
    margin: auto;
    background-color: #fff;
    width: 340px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 8px;
}
.search_elements{
    margin: auto;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
}
.search:focus{
    outline: none;
}
i.material-icons{
    font-size: 26px;
    color: #000;
}

.wrapper .navbar{
    display: flex;
    border-radius: 5px;
  }
  
.wrapper .navbar ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
.wrapper .navbar ul li a:hover{
    color: #E32636
  }
  
.wrapper .navbar .right ul li a{
    display: flex;
    align-items: center;
    height: 40px;
  }
  
.wrapper .navbar .right img{
    margin: 0 10px;
  }
 
.wrapper .navbar .right ul li{
    position: relative;
    list-style: none;
  }
  
.wrapper .navbar .right ul li .dropdown{
    position: absolute;
    top: 65px;
    left: -40px;
    background: #2d2d2d;
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 5px;
    display: none;
  }
  
.wrapper .navbar .right ul li .dropdown .fas{
    margin-right: 10px;
  }
  
.wrapper .navbar .right ul li .dropdown:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #000 transparent;
  }
  
.wrapper .navbar .right ul li.active .dropdown{
    display: block;
  }


  .content {
    width: 1024px;
    margin: 0 auto;
  }
  .content h2
  {
    font-weight: 300;
    color:#fff;
    font-size: 1.5em;
  }
  .part_name{
    display: flex;
    justify-content: space-between;
  }
  .part_name img.menu_inverse{
    filter: invert(1);
    width: 22px;
    height: 22px;
  }
  .content p{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
  }
  .content a.button{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
  }
  .content a.button:hover{
    background: #E32636;
    color: #fff;
    transition: 0.5s;
  }

/* #slider {
  overflow: hidden;
  border-radius: 10px;
}
#slider a{
  margin-top: 20px;
}
#slider a{
  margin-top: 20px;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
  float: left;
}
#slider .slider_banner{
  position: relative;
  z-index: 99999;
}
#slider .slider_banner .slider_desc{
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: auto;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
} */



#slider {
  margin: 20px auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-radius: 30px;
}
#slider .run_but{
  margin-top: 50px;
}
#slider a.red_borders {
  
  margin-top: 50px;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid #E32636;
  text-decoration: none;
  color: #fff;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  color: #fff;
}
#slides .slide_1 {
  background-image: url(../img/Rect1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#slides .slide_2 {
  background-image: url(../img/Rect2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#slides .slide_3 {
  background-image: url(../img/Rect3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#slides .slide_4 {
  background-image: url(../img/Rect1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  display: block;
}
#bullets {
  margin: 100px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
  }
}

.topic{
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.topic img{
  width: 100%;
}
.topic .topic_cards{
  width: 220px;
  background: #151515;
  border: 1px solid #2d2d2d;
  border-radius: 8px;
}
.topic .topic_cards h4{
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.topic .topic_cards p{
  font-weight: 400;
  font-size: 14px;
  padding: 15px;
  color: #fff;
}
.topic .topic_cards .topic_names{
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.topic .topic_cards .topic_names img{
  position: relative;
  left: 10px;
  width: 28px;
  height: 28px;
  filter: invert(1);
}

.topic .topic_img{
  position: relative;
  display: flex;
}
.topic .topic_img :hover {
  transition: 0.2s;
  filter: blur(7px);
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
}
.topic .topic_img div{
  position: absolute;
  z-index: 99999;
}
.topic .topic_img .run_but{
  top: 50%;
  left: 25%;
}
.topic a.red_borders {
  margin-top: 50px;
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid #E32636;
  text-decoration: none;
  color: #fff;
}

.create_mile_banner{
  border-radius: 8px;
  background: #2d2d2d;
  display: flex;
  justify-content: space-around;
  padding: 40px 40px;
}
.create_mile_banner img{
  max-width: 100%;
}
.proceed_mile{
  display: inline;
  text-align: center;
  align-items: center;
}
.proceed_mile h2{
  font-size: 2.5em;
  font-weight: bold;
}
.proceed_mile p{
  font-size: 1.2em;
  font-weight: bold;
  color: #9A9A9A;
  padding: 15px 0;
}
.proceed_mile a.red_borders {
  padding: 10px 40px;
  border-radius: 8px;
  border: 2px solid #E32636;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.proceed_mile .search_box{
  margin-bottom: 40px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 50px;
  z-index: 10000;
  transition: 0.6s;
  background: #000;
}
footer a{
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  padding: 0 20px;
}